:root {
    --primary: #ebde6b;
    --negro: #000000;
    --blanco: #FFF;
    --gris_suave: #e4e4e4;
    --gris_medio: #747474;
    --morado:#861cff;
    --verde: #1fff1f;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;

    margin: 0;
}
img {
    max-width: 100%;
}

a{
    text-decoration: none;
}


/* 
@media(){
   
} 
*/

.header{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}

.header__logo{
   
        margin-left: -1rem;
        background-color: #202533;
        background-image: url(../../public/logo-mty-remo.png);
        background-size: 15rem;
        background-repeat: no-repeat;
        background-position: center;
    
}

.header__nav{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header__nav--up{
    background-color: var(--negro);
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__nav--down{
    background-color: var(--negro);
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.header__nav--down a{
    color: var(--verde);
    font-size: 2rem;
    font-weight: bold;
} 
.header__nav--up,  a{
    color: var(--morado);
    font-size: 2rem;
    font-weight: bold;
}

.hero{
    padding: 0;
}


.hero-parrafo{
    background-color: #ebde6b;
    font-size:1.5rem;
    text-align: center;
    margin-top:4.2rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}



#botones{
    position: absolute;
}

.botones-parrafo{
    position: relative;
    font-size: 2.5rem;
    color: var(--blanco);
    font-weight:800;
    display: flex;
    align-items: flex-end;
    text-align: center;
    top: 5rem;
    opacity: 80%;

}

.main{
    margin-top: 2rem;
    background-color: var(--gris_suave);
    padding: 2rem;
}

.consulta{
    margin-top: 5rem;
}

.consulta__formulario{
    margin: 2rem;
}

.consulta{
    background-color: var(--blanco);
    padding: 2rem;
}

.form--placa{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--gris_medio);
}

#input, #button{
    height: 4rem;
    margin-top: 1rem;
}


.form--table{
    margin-top: 2rem;
}



.form-group{
    margin-top: 2rem;
}

.tdtable{
    font-weight: bold;
}

.consulta__footer{
    padding: 2rem
}




@media(min-width: 768px){

    .header{
        grid-template-rows: none;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    
    .header__nav{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .header__nav--up{
        background-color: var(--negro);
        display: flex;
        justify-content: space-evenly;
        padding-left: 10rem;
    }
    
    .header__nav--down{
        background-color: var(--negro);
        display: flex;
        justify-content: space-evenly;
        padding-left: 10rem;
    }

    .hero{
        padding: 0;
    }
    
    #hero-parrafo{
        background-color: #ebde6b;
        font-size: 1.6rem;
        text-align: center;
        padding-top: 1rem;
        height: 5rem;
    }

    .botones-parrafo{
        position: relative;
        font-size: 4rem;
        color: var(--blanco);
        font-weight:800;
        display: flex;
        align-items: flex-end;
        text-align: center;
        top: 10rem;
        left: 2rem;
        opacity: 80%;
    
    }

    .main{
        margin-top: 20rem;
        background-color: var(--gris_suave);
        padding: 5rem;
    }
    
    .consulta{
        margin-top: 5rem;
    }

    .form--placa{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid var(--gris_medio);
    }
    
    #input{
        margin-left: 15rem;
        height: 3rem;
        width: 50rem;
        margin-top: 2rem;
        border-radius: .5rem;
    }


    #button{
        margin-left: 15rem;
        height: 3rem;
        margin-top: 2rem;
        border-radius: .5rem;
        background-color: var(--gris_medio);
        color: var(--blanco);
    }
    
   
  
    
    
    .consulta__footer{
        padding: 2rem
    }
} 

@media(min-width: 820px){
    #botones{
        width: 500rem;
    }

    
    .botones-parrafo{
        position: relative;
        font-size: 4rem;
        color: var(--blanco);
        font-weight:800;
        display: flex;
        align-items: flex-end;
        text-align: center;
        top: 16rem;
        left: 5rem;
        opacity: 80%;
    
    }
}


@media(min-width: 1024px){

    .body{
        margin: 0;
        padding: 0;
    }

    .header{
        grid-template-rows: none;
        display: grid;
        grid-template-columns: 1fr 8fr;
        height: 2.5rem;
    }
    .header__logo{
   
        margin-left: -1rem;
        background-color: #202533;
        background-image: url(../../public/logo-mty-remo.png);
        margin-top: -1rem;
        background-size: 8rem;
        padding-bottom: -5rem;
        background-repeat: no-repeat;
        background-position: center;
    
}
    .header__nav{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    #Link{
        font-size: 1.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    .header__nav--up{
        background-color: var(--negro);
        display: flex;
        justify-content: flex-end;
        margin-top: -1rem;
        padding-left: 40rem;
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
    
    .header__nav--down{
        background-color: var(--negro);
        display: flex;
        justify-content:flex-end;
        padding-top: 1rem;
        padding-bottom: 1rem;
        left: 15rem;
    }

    .hero-parrafo{
        background-color: #ebde6b;
        font-size:1.5rem;
        text-align: center;
        margin-top:5.5rem;
        padding-top: .1rem;
        padding-bottom: .1rem;
    }

    #botones{
        width: 100%
    }

    
    .botones-parrafo{
        position: relative;
        font-size: 4rem;
        color: var(--blanco);
        font-weight:800;
        display: flex;
        align-items: flex-end;
        text-align: center;
        top: 5rem;
        left: 30rem;
        opacity: 80%;
        width: 80rem;
    
    }

    .hero__image{
        height: 4rem;
        margin-top: -1rem;
    }
    
    .hero__image img{
        height: 30rem;
        scale: 5rem;
    }

    .main{
        margin-top: 5rem;
        background-color: var(--gris_suave);
        padding: 5rem;
        border-radius: 3rem;
    }

    .consulta__titulo h2{
        font-size: 2.2rem;
    }
    
    .consulta__footer p:first-child{
        font-size: 1.5rem;
        color: rgb(29, 29, 53);
        font-weight: bold;
    }

    .consulta__footer p{
        font-size: 1.5rem;
        color: var(--gris_medio)
    }

    #aviso__footer{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: var(--primary);
    }

    .form--placa{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid var(--gris_medio);
    }
    
    #input{
        margin-left: 15rem;
        height: 3rem;
        width: 50rem;
        margin-top: 2rem;
        border-radius: .5rem;
    }


    #button{
        margin-left: 15rem;
        height: 3rem;
        margin-top: 2rem;
        border-radius: .5rem;
        background-color: var(--gris_medio);
        color: var(--blanco);
    }
    
    
    
    .consulta__footer{
        padding: 2rem
    }
}

@media(min-width: 1400px){

    #Link{
        font-size: 1.5rem;
        margin-left: 5rem;
        margin-right: 3rem;
    }

    
    .header__logo{
    
        margin-left: -1rem;
        background-color: #202533;
        background-image: url(../../public/logo-mty-remo.png);
        background-size: 13rem;
        background-repeat: no-repeat;
        background-position: center;

    }

    .header{
        grid-template-rows: none;
        display: grid;
        grid-template-columns: 1fr 10fr;
    }
    
    .header__nav{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .header__nav--up{
        background-color: var(--negro);
        display: flex;
        justify-content: flex-end;
        padding: 1.5rem;
    }

    
    
    .header__nav--down{
        background-color: var(--negro);
        display: flex;
        justify-content:last baseline;
        padding: 1.5rem;
    }

    #hero-parrafo{
        background-color: #ebde6b;
        font-size: 2rem;
        text-align: center;
        margin-right: 0;
        height: 4.5rem;
    }

    #botones{
        width: 180rem; /* Establece un tamaño fijo */
        height: 50rem; 
        object-fit: cover; /* Recorta la imagen para llenar el contenedor sin perder calidad */
        object-position: top;
    }


    .botones-parrafo{
        position: relative;
        font-size: 4rem;
        color: var(--blanco);
        font-weight:800;
        display: flex;
        align-items: flex-end;
        text-align: center;
        top: 20rem;
        left: 40rem;
        opacity: 80%;
    
    }

    .main{
        margin-top: 35rem;
        background-color: var(--gris_suave);
        padding: 5rem
    }
    

    .form--placa{
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid var(--gris_medio);
    }
    
    #input{
        margin-left: 15rem;
        height: 3rem;
        width: 50rem;
        margin-top: 2rem;
        border-radius: .5rem;
    }


    #button{
        margin-left: 15rem;
        height: 3rem;
        margin-top: 2rem;
        border-radius: .5rem;
        background-color: var(--gris_medio);
        color: var(--blanco);
    }
    
    
    
    
    .consulta__footer{
        padding: 2rem
    }
}

@media(min-width: 1600px){
    #Link{
        font-size: 1.5rem;
        margin-left: 5rem;
        margin-right: 3rem;
    }

    
    .header__logo{
        margin-left: -1rem;
        background-color: #202533;
        background-image: url(../../public/logo-mty-remo.png);
        background-size: 9rem;
        background-repeat: no-repeat;
        background-position: center;

    }


    #botones{
        width: 200rem; /* Establece un tamaño fijo */
        height: 50rem; 
        object-fit: cover; /* Recorta la imagen para llenar el contenedor sin perder calidad */
        object-position: top;
    }

    .botones-parrafo{
        position: relative;
        font-size: 4rem;
        color: var(--blanco);
        font-weight:800;
        display: flex;
        align-items: flex-end;
        text-align: center;
        top: 20rem;
        left: 60rem;
        opacity: 80%;
    }

    .header__nav--up{
        background-color: var(--negro);
        display: flex;
        justify-content: flex-end;
        left: 15rem;
    }


    .header__nav--down{
        background-color: var(--negro);
        display: flex;
        justify-content:flex-end;
        padding: 0rem;
        left: 15rem;
    }

    .main{
        margin-top: 25rem;
    }
}