:root {
    --primary: #e99401;
    --negro: #000000;
    --blanco: #FFF;
    --gris_suave: #e4e4e4;
    --gris_medio: #747474;
    --morado:#861cff;
    --verde: #0e680e;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;

    margin: 0;
}
img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

.container{
  margin-top: 5rem;
}

/* Estilo base de la tabla */
.table-wrapper {
    width: 100%;
    margin-top: 3rem;
    border-radius: 12px;
    background-color: white;
    overflow-x: auto;
    padding: 15px;

  }
  
  /* En pantallas grandes, mostramos la tabla */
  @media screen and (min-width: 760px) {
    .table-wrapper {
      display: block;
    }
  
    .table {
      display: table;
      width: 100%;
      margin-top: 20px;
    }
  
    .table th,
    .table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
    }
  
    .table th {
      background-color: #f8f9fa;
      font-weight: bold;
    }
  }
  
  /* En pantallas pequeñas, usamos cards */
  @media screen and (max-width: 759px) {
    .table-wrapper {
      display: block;
    }
  
    .table {
      display: none;
    }
  
    .card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    .card {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 8px;
      background-color: #f8f9fa;
    }
  
    .card-header {
      font-weight: bold;
      background-color: #212529;
      color: rgb(0, 0, 0);
      padding: 10px;
      border-radius: 8px 8px 0 0;
    }
  
    .card-body {
      padding: 10px;
    }
  
    .card-footer {
      padding: 10px;
      background-color: #212529;
      color: rgb(0, 0, 0);
      border-radius: 0 0 8px 8px;
      text-align: center;
    }
  
    .card-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
  
  