:root {
    --primary: #e99401;
    --negro: #000000;
    --blanco: #FFF;
    --gris_suave: #e4e4e4;
    --gris_medio: #747474;
    --morado:#861cff;
    --verde: #0e680e;
    --fuente-principal: 'Outfit', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;

    margin: 0;
}
img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

.container{
  margin-top: 5rem;
}

/* Estilo base de la tabla */
.table-wrapper {
    width: 100%;
    margin-top: 3rem;
    border-radius: 12px;
    background-color: white;
    overflow-x: auto;
    padding: 15px;

  }

 
.table tbody tr:nth-child(odd) {
  background-color: #d4d4d4;
}

.consulta{
  border-radius: 3rem;
}
  
  /* Cards para pantallas pequeñas*/
  @media screen and (max-width: 759px) {
    .consulta__formulario{
      margin-top: 2rem;
    }
    .form--table{
      display: none
    }

    .form-group{
      display:none
    }

    .table-wrapper {
      display: block;
    }
  
    .table {
      display: none;
    }
  
    .card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  
    .card {
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 8px;
      background-color: #f8f9fa;
    }
  
    .card-header {
      font-weight: bold;
      background-color: #616161;
      color:rgb(255, 255, 255);
      padding: 10px;
      border-radius: 8px 8px 0 0;
    }
  
    .card-body {
      padding: 10px;
    }
  
    .card-footer {
      padding: 10px;
      background-color: #686868;
      color: rgb(240, 240, 240);
      border-radius: 0 0 8px 8px;
      text-align: center;
    }
  
    .card-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }


    .tdtable{
      width: 100%
    }

    .tdspan{
      margin-left: 10rem;
    }

    .tdspann{
      margin-left: 9rem;
    }

  }
  
    @media(min-width: 768px){
      .card{
        display:none
      }

      .form-group-cards{
        display: none;
      }

      .form-group-cards{
        display: none;
      }

      .form--placa {
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos */
        padding-bottom: 1rem;
    }
    
    #input {
        margin-bottom: 2rem;
        height: 4rem;
        width: 30rem;
        margin-left: 2rem;
        text-transform: uppercase;
        font-size: 15px;
        border: 2px solid gray;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3 ease;
    }

    .error{
      border-color: red;
    }

    #input::placeholder{
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }

    #input:focus{
      border-color: #0d9223
    }

    #button::hover{
      cursor: pointer;
    }
    
    #button {
        margin-bottom: 2rem;
        padding: 0.5rem;
        background-color: rgb(20, 20, 56);
        color: white;
        border: none;
        cursor: pointer;
        height: 4rem; /* Para que tenga la misma altura que el input */
        width: 10rem;
        margin-left: 2rem;
    }

      .table{
        border-radius: 0rem;
        border: none;
        display: table;
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
      }

      .table-header{
        font-size: 1.5rem;
        text-align: center;
      }
    
      .table th,
      .table td {
        padding: 5px;
        max-width: 13rem;
        text-align: right;
        
      }
    
      .table th {
        background-color: #f8f9fa;
        font-weight: bold;
      }

      .tdtable{
        width: 100%
      }

      .tdspan{
        margin-left: 40rem;
      }

      .tdspann{
        margin-left: 39rem;
      }
    }

    @media screen and (min-width: 820px){
     
      .card{
        display:none
      }

      .form-group-cards{
        display: none;
      }

      .form--placa {
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos */
        padding-bottom: 1rem;
    }
    
    #input {
        margin-bottom: 2rem;
        height: 4rem;
        width: 30rem;
        margin-left: 2rem;
        text-transform: uppercase;
        font-size: 15px;
        border: 2px solid gray;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3 ease;
    }

    .error{
      border-color: red;
    }

    #input::placeholder{
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }

    #input:focus{
      border-color: #0d9223
    }

    #button::hover{
      cursor: pointer;
    }
    
    #button {
        margin-bottom: 2rem;
        padding: 0.5rem;
        background-color: rgb(20, 20, 56);
        color: white;
        border: none;
        cursor: pointer;
        height: 4rem; /* Para que tenga la misma altura que el input */
        width: 10rem;
        margin-left: 2rem;
    }

      .table {
        display: table;
        width: 100%;
        margin-top: 20px;
        border-radius: 0rem;
        border: none;
        display: table;
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
        border-spacing: 0;
      }

      .tdtable{
        
      }

      .table-header{
        font-size: 1.5rem;
        text-align: center;
      }

      td, th{
        border: none;
        padding: 0;
      }

      td{
        font-size: 1.2rem;
      }

      .table-header{
        font-size: 1.3rem;
      }
    
      .table th,
      .table td {
        
        max-width: 1rem;
        text-align: center;
        
      }
    
      .table th {
        background-color: #f8f9fa;
        font-weight: bold;
      }

      .tdtable{
        width: 100%
      }

      .tdspan{
        margin-left: 45rem;
      }

      .tdspann{
        margin-left: 44rem;
      }

    }


    @media(min-width: 1020px){
      
    .form--placa {
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos */
        padding-bottom: 1rem;
    }
    
    #input {
        margin-bottom: 2rem;
        height: 4rem;
        width: 30rem;
        margin-left: 2rem;
        text-transform: uppercase;
        font-size: 15px;
        border: 2px solid gray;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3 ease;
    }

    .error{
      border-color: red;
    }

    #input::placeholder{
      font-weight: bold;
      font-size: 1.5rem;
      text-align: center;
    }

    #input:focus{
      border-color: #0d9223
    }

    #button::hover{
      cursor: pointer;
    }
    
    #button {
        margin-bottom: 2rem;
        padding: 0.5rem;
        background-color: rgb(20, 20, 56);
        color: white;
        border: none;
        cursor: pointer;
        height: 4rem; /* Para que tenga la misma altura que el input */
        width: 10rem;
        margin-left: 2rem;
    }

    .table{
      border-radius: 0rem;
      border: none;
      display: table;
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
      border-spacing: 0;
    }

    td, th{
      border: none;
      padding: 0;
    }

      .tdtable{
        width: 100%
      }

      .tdspan{
        margin-left: 65rem;
      }

      .tdspann{
        margin-left: 64rem;
      }

      .table-header{
        font-size: 1.5rem;
      }

      td{
        font-size: 1.3rem;
      }

      .tdtable{
        font-size: 1.5rem;
      }

    }


    @media screen and (min-width: 1200px){
      .table{
        border-radius: 0rem;
        border: none;
        display: table;
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
      }

      .card{
        display:none
      }

      .form-group-cards{
        display: none;
      }

      

      .table-header{
        font-size: 2rem;
        text-align: center;
      }
    
      .table th,
      .table td {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
      }
    
      .table th {
        background-color: #f8f9fa;
        font-weight: bold;
      }

      .tdtable{
        width: 100%
      }

      .tdspan{
        margin-left: 99rem;
      }

      .tdspann{
        margin-left: 98.5rem;
      }
    }

    @media(min-width: 1400px){
      .tdtable{
        width: 100%
      }

      .tdspan{
        margin-left: 101rem;
      }

      .tdspann{
        margin-left: 100rem;
      }

      .tdtable{
        font-size: 1.8rem;
      }
    }

    @media(min-width: 1600px){
      .tdtable{
        width: 100%
      }

      .tdspan{
        margin-left: 146rem;
      }

      .tdspann{
        margin-left: 145rem;
      }
    }